{% extends "template.html" %}

{% load static %}
<head>
<!-- import CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'css/bar.css' %}">
<!-- jquery looks nice-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<!--autocomplete stuff-->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#tags" ).autocomplete({
        source: "{% url 'autosuggest' %}",
      });
    } );
    </script>
</head>


{% block title %}
Añadir Pokémon
{% endblock %}


{% block content %}
    <h2>Add a Pokemon</h2>
    <hr>
    <form class="form" method="post">
      {% csrf_token %}
      <!-- Name Pkmn -->
      <div class="form-group">
        <label for="pokemon_name"><b>Pokémon name:</b></label>
        <!--
        <input
            class="form-control me-2 bg-dark"
            type="search"
            name="nameorid"
            placeholder="Pokemon Name"
            aria-label="Search"
            style="color: lightgrey"
            id = "tags"
            />
        -->
        <input
          type="search"
          class="form-ql"
          id = "tags"
          name="pokemon_name"
          placeholder="Pokemon Name"
          aria-label="Search"
        />
      </div>
      <!-- Nickname Pkmn-->
      <div class="form-group">
        <label for="pokemon_nickname"><b>Pokémon nickname:</b></label>
        <input
          type="text"
          class="form-ql"
          id="pokemon_nickname"
          name="pokemon_nickname"
        />
      </div>
      <!-- Lv. Pkmn -->
      <div class="form-group">
        <label for="pokemon_level"><b>Pokémon level:</b></label>
        <input
          type="text"
          class="form-ql"
          id="pokemon_level"
          name="pokemon_level"
        />
      </div>
      <!-- Button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}