{% extends "template.html" %}

<!-- Title page -->
{% block title %}
List of Profiles
{% endblock %}

<!-- Content page -->
{% block content %}
<h2>PokeWazer{{ pokewazers|pluralize:"s" }}</h2>
<hr>
{% for pkwzr, sizepoke in sizes.items %}
<p>
  <a href="{% url 'perfil' %}{{ pkwzr }}" style="color: inherit;
  font-size: 23px;"><b>{{ pkwzr }}</b></a>
  {% if pkwzr == user.username %}
  <i>(you)</i>
  {% endif %}
  <br>
  <i>Size of pokedex:</i> {{ sizepoke }}
</p>
<hr>
{% empty %}
<p>
  No hay pokewazers :(
</p>
{% endfor %}
{% endblock %}