{% extends "template.html" %}

<!-- Title page -->
{% block title %}
Profile
{% endblock %}

<!-- Content page -->
{% block content %}
<h2>{{ lookigUser.username }}</h2>
{% if user == lookigUser %}
<hr>
<p>
  <b>email:</b> <a href="mailto:{{ user.email }}" style="color: inherit;">{{ lookigUser.email }}</a>
</p>
<a href="{% url 'delete_account' %}" style="border: solid; border-color: inherit;
color: inherit; background-color: #fa7474; padding: 3px 7px; text-decoration: none;">Delete Account</a>
{% endif %}
<hr>
<h3>Personal Pokedex</h3>
{% if user == lookigUser %}
<a href="{% url 'add_a_pkmn' %}" style="border: solid; border-color: inherit;
color: inherit; background-color: #e0e0e0; padding: 3px 7px; text-decoration: none;">Add Pokemon</a>
<a href="{% url 'delete_a_pkmn' %}" style="border: solid; border-color: inherit;
color: inherit; background-color: #fa7474; padding: 3px 7px; text-decoration: none;">Remove Pokemon</a>
<br>
<br>
{% endif %}

{% for name,pkmn in pkmn_list %}
{% if forloop.counter == 1 %}
<table>
  <tbody>
    <tr>
{% endif %}
      <td style="text-align: center;">
        <form class="form" method="get" action="{% url 'buscar' %}">
          {% csrf_token %}
          <button name="nameorid" type="submit" value="{{ name|title }}"> 
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pkmn.pkmn_id }}.png"
            width="150" height="150">
          </button>
          <p style="text-align: center;">
            <b>Nickname:</b> {{ pkmn.nickname_pkmn }}
            <br>
            <b>Level:</b> {{ pkmn.lvl_pkmn }}
          </p>
        </form>
      </td>
{% if forloop.counter != pkmn_list|length %}
  {% if forloop.counter|divisibleby:5 %}
    </tr>
    <tr>
  {% endif %}
{% else %}
    </tr>
  </tbody>
</table>
{% endif %}
{% empty %}
<br>
<p>
  You have not registered any pokemon yet.
</p>
{% endfor %}
{% endblock %}