{% extends "template.html" %}

<!-- Title page -->
{% block title %}
Profile
{% endblock %}

<!-- Content page -->
{% block content %}
<h2>{{ lookigUser.username }}</h2>
<hr>
{% if user == lookigUser %}
<p>
  <b>email:</b> <a href="mailto:{{ lookigUser.email }}">{{ lookigUser.email }}</a>
</p>
<a href="{% url 'editar_perfil' %}" style="border: solid; border-color: inherit;
color: inherit; background-color: #e0e0e0; padding: 3px 7px;">Edit Profile</a>
{% endif %}
<hr>
<h3>Personal Pokedex</h3>
{% for pkmn in pkmn_list %}
{% if forloop.counter == 1 %}
<table>
  <tbody>
    <tr>
{% endif %}
      <td>
        <a href="{% url 'buscar' %}{{ pkmn.pkmn_id }}">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pkmn.pkmn_id }}.png"
          width="150" height="150">
        </a>
        <p>
          <b>Nickname:</b> {{ pkmn.nickname_pkmn }}
          <br>
          <b>Level:</b> {{ pkmn.lvl_pkmn }}
        </p>
      </td>
{% if forloop.counter != pkmn_list|length %}
  {% if forloop.counter|divisibleby:5 %}
    </tr>
    <tr>
  {% endif %}
{% else %}
    </tr>
  </tbody>
</table>
{% endif %}
{% empty %}
<p>You have not registered any pokemon yet.</p>
{% endfor %}
{% endblock %}