{% extends "template.html" %}

{% load static %}

{% block title %}
PokéWaze: {{name}}
{% endblock %}


{% block content %}
      <!-- Name -->
      <h2>{{name}}</h2>
      <!-- Description -->
      <h3> Description by game </h3>

        {% for game,dex in desc%}
          <hr>
          <strong> {{game}} </strong>  {{dex}}
        {% endfor %} 
    </div>
    {% include "partes/cards.html" %}
    <p>
    {% include "partes/evolutions.html" %}
    </p>
    {% include "partes/formas.html" %}

  <!-- dajsiodiadiasjdsdopasjdsajiodas -->
{% endblock %}