{% extends "template.html" %}

{% load static %}

{% block title %}
PokéWaze: {{name}}
{% endblock %}


{% block content %}
      <!-- Name -->
      <h2>{{name}}</h2>
      <!-- Description -->
      <h3> Description by game </h3>
      <table>
        {% for game,dex in desc%}
          <tr> 
            <td> <strong> {{game}} </strong> </td> 
            <td>{{dex}}</td>   
          </tr>
        {% endfor %}
      </table>
    </div>
    {% include "partes/cards.html" %}
    <p>
    {% include "partes/evolutions.html" %}
    </p>
    {% include "partes/formas.html" %}

  <!-- dajsiodiadiasjdsdopasjdsajiodas -->
{% endblock %}