{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}" />
  </head>

  <!-- Card -->
  <div class="card" style="width: 18rem">
  <p>
    <center><strong>{{name}}</strong></center>
  </p>

  <!-- Image Pokémon -->
  <a><img src={{imageURL}} width="250" height="250" class="card-img-top" alt={{alt}}> </a>
  <div class="card-body">
  <h5 class="card-title">Atributos</h5>
  <p class="card-text">

    <!-- Data Pokémon -->
    {% for feature,value in pkmn%}
      <li><strong>{{feature}} </strong>: {{value}}</li>
    {% endfor %}
  </p>

  </div>
</html>