body {
  background-color: grey;
}

.container {
  margin-top: 1%;
  background-color: darkgrey;
}

.navbar-brandname {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translatex(-50%);
}

.card {
  text-align: justify;
  border: 1px solid black;
  width: 40vw;
  background-color: darkgray;
}
